<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TaskMaker</title>
  <link rel="shortcut icon" href="/assets/img/notepadFavicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/tasksIcon.jpg" alt="tasks logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/home">Back to Tasks</a></div>
  </nav>

  <section id="passContent">

  </section>

  <div id="userInfo" class="hidden">

  </div>

  <script src="/assets/passChangeBundle.js"></script>
  </body>
  </html>